#MainContainer {
	display: grid;
	grid-template-rows: auto 1fr auto;

	/* new small viewport height for modern browsers */
	min-height: 100svh;
  overflow: hidden;
  width: 100vw;
}

#MainBody {
	padding-left: var(--padingLeft);
	padding-right: var(--padingRight);
	max-width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: var(--background-color-3);
}
