<div class="container" id="WorkCalendarWrapper">
  <div class="flex justify-content-center" id="TableButtons">
    <p-calendar
      [(ngModel)]="selectedDate"
      dateFormat="dd-mm-yy"
      [showIcon]="true"
      [firstDayOfWeek]="1"
      (onSelect)="ChangeDate($event)"
    ></p-calendar>
    <p-button label="Add" icon="pi pi-plus-circle" />
    <p-button
      label="Remove selected"
      icon="pi pi-trash"
      [disabled]="selectedRows.length == 0"
      severity="danger"
      (onClick)="removeRow()"
    />
  </div>

  <p-table
    [value]="workReservations"
    styleClass="p-datatable-striped"
    [tableStyle]="{ width: '100%' }"
    dataKey="rowId"
    editMode="row"
    selectionMode="multiple"
    [(selection)]="selectedRows"
    [metaKeySelection]="true"
    id="Table"
  >
    <ng-template pTemplate="header">
      <tr class="text-start">
        <th>Name</th>
        <th>Lastname</th>
        <th>Shift</th>
        <th>Worker type</th>
        @if (editableTable) {
          <th style="width: 10%"></th>
        }
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-editing="editing"
      let-product
      let-ri="rowIndex"
      let-rowIndex="rowIndex"
    >
      <tr
        [pEditableRow]="product"
        [pSelectableRow]="product"
        [pSelectableRowIndex]="rowIndex"
        id="TableRow"
      >
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="product.name" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.name }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="product.lastname" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.lastname }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown
                [options]="shiftTypes"
                appendTo="body"
                [(ngModel)]="product.shift"
                [style]="{ width: '100%' }"
              ></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              @switch (product.shift) {
                @case (1) {
                  06-14
                }
                @case (2) {
                  14-20
                }
                @default {
                  err
                }
              }
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown
                [options]="workerTypes"
                appendTo="body"
                [(ngModel)]="product.shift"
                [style]="{ width: '100%' }"
              ></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              @switch (product.workerType) {
                @case (0) {
                  <td>Admin</td>
                }
                @case (1) {
                  <td>Menager</td>
                }
                @case (2) {
                  <td>Worker</td>
                }
                @default {
                  <td>err</td>
                }
              }
            </ng-template>
          </p-cellEditor>
        </td>
        @if (editableTable) {
          <td>
            <div class="flex align-items-center justify-content-center gap-2">
              <button
                *ngIf="!editing"
                pButton
                pRipple
                type="button"
                pInitEditableRow
                icon="pi pi-pencil"
                (click)="onRowEditInit(product)"
                class="p-button-rounded p-button-text"
              ></button>
              <button
                *ngIf="editing"
                pButton
                pRipple
                type="button"
                pSaveEditableRow
                icon="pi pi-check"
                (click)="onRowEditSave(product)"
                class="p-button-rounded p-button-text p-button-success mr-2"
              ></button>
              <button
                *ngIf="editing"
                pButton
                pRipple
                type="button"
                pCancelEditableRow
                icon="pi pi-times"
                (click)="onRowEditCancel(product, ri)"
                class="p-button-rounded p-button-text p-button-danger"
              ></button>
            </div>
          </td>
        }
      </tr>
    </ng-template>
  </p-table>
</div>
