<div id="LoginForm">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1 style="color: white">Login form</h1>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          type="text"
          matInput
          id="email"
          formControlName="Email"
          [errorStateMatcher]="matcher"
          placeholder="example@gmail.com"
        />

        @if (loginForm.get("Email")?.errors?.["required"]) {
          <mat-error>Email is <strong>required</strong></mat-error>
        } @else if (
          loginForm.get("Email")?.invalid && loginForm.get("Email")?.touched
        ) {
          <mat-error>Please enter a valid email</mat-error>
        }
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width" id="passwordInput">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="Password"
          [errorStateMatcher]="matcher"
          placeholder="*******"
        />

        @if (loginForm.get("Password")?.errors?.["required"]) {
          <mat-error>Email is <strong>required</strong></mat-error>
        } @else if (
          loginForm.get("Password")?.invalid &&
          loginForm.get("Password")?.touched
        ) {
          <mat-error>Please enter a valid password</mat-error>
        }
      </mat-form-field>
    </div>

    <button mat-fab extended type="submit" id="SubmitButton">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </form>
</div>
