<nav id="siteNavbar" class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand LogoContainer" href="#">
      <div class="mx-auto Logo"></div>
      <span class="LogoText">CMT</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Zakazivanje</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Onama">O nama</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id="UserNavMenu">
        <li class="nav-item me-3 me-lg-0 dropdown">
          <a
            class="dropdown-toggle d-flex align-items-center justify-content-center"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="account_circle"
            ></mat-icon>
            Login
          </a>

          <ul class="dropdown-menu dropdown-menu-lg-end">
            <li>
              <a
                class="dropdown-item d-flex align-items-center justify-content-center"
                href="#"
                ><mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="login"
                  routerLink="/login"
                ></mat-icon
                >Login</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
