<nav id="siteNavbar" class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand LogoContainer" routerLink="">
      <div class="mx-auto Logo"></div>
      <span class="LogoText">CMT</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if (_globalUserState.currentUser()?.workerType == 0) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin">Admin panel</a>
          </li>
        }
        <li class="nav-item">
          <a class="nav-link" routerLink="">Info</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" id="UserNavMenu">
        <li class="nav-item me-3 me-lg-0 dropdown">
          <a
            class="dropdown-toggle d-flex align-items-center justify-content-center"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            @if (!_globalUserState.currentUser()) {
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="account_circle"
              ></mat-icon>
              Login
            } @else {
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="account_circle"
                matBadge="{{ _globalUserState.notificationNumberTotal() }}"
                [matBadgeHidden]="
                  _globalUserState.notificationNumberTotal() === 0
                "
              ></mat-icon>
              <ng-container>
                {{ _globalUserState.currentUser()?.name }}
                {{ _globalUserState.currentUser()?.lastname }}
              </ng-container>
            }
          </a>

          <ul class="dropdown-menu dropdown-menu-lg-end">
            @if (!_globalUserState.currentUser()) {
              <li>
                <a
                  class="dropdown-item d-flex align-items-center justify-content-center"
                  routerLink="/auth/login"
                  ><mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="login"
                  ></mat-icon
                  >Login</a
                >
              </li>
            } @else {
              <li>
                <a
                  class="dropdown-item d-flex align-items-center justify-content-center"
                  routerLink="/auth/login"
                  ><mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="manage_accounts"
                  ></mat-icon
                  >Account</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item d-flex align-items-center justify-content-center"
                  routerLink="/auth/login"
                  ><mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="forum"
                    matBadge="{{
                      _globalUserState.notificationNumberMessages()
                    }}"
                    [matBadgeHidden]="
                      _globalUserState.notificationNumberMessages() === 0
                    "
                  ></mat-icon
                  >Messages</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item d-flex align-items-center justify-content-center"
                  routerLink="/auth/login"
                  ><mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="notifications"
                    matBadge="{{ _globalUserState.notificationNumberBasic() }}"
                    [matBadgeHidden]="
                      _globalUserState.notificationNumberBasic() === 0
                    "
                  ></mat-icon
                  >Notifications</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item d-flex align-items-center justify-content-center"
                  (click)="logout()"
                  id="LogoutButton"
                  ><mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="logout"
                  ></mat-icon
                  >Logout</a
                >
              </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
