<div class="container-fluid mt-5">
  <div class="row gy-3">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">Moji četovi</div>
        <div
          class="card-body custom-list-available-chats overflow-auto"
          id="available-chats"
        >
          <!-- List of available chats -->
          <ul class="list-group">
            @for (
              worker of globalSettingsService.settings()?.users;
              track worker
            ) {
              @if (globalUserStateService.currentUser()?.id != worker.id) {
                <li
                  class="list-group-item single-user-chat"
                  (click)="showChat(worker.id!)"
                >
                  <i class="bi bi-person-circle"></i>
                  {{ worker.name }}
                  {{ worker.lastname }}
                  <!-- @if (worker.isOnline) {
                  <i class="bi bi-circle-fill" style="color: green"></i>
                } -->
                </li>
              }
            }
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          Trenutni čet -
          @if (currentChatIndex != -1) {
            <u>{{ currentChatUser?.name + " " + currentChatUser?.lastname }}</u>
          }
        </div>
        <div class="card-body messages" id="current-chat-messages">
          <!-- Messages of the currently clicked chat -->
          @if (currentChatIndex != -1) {
            @for (
              message of userChats[currentChatIndex].communicationMessages;
              track message
            ) {
              @if (
                message.senderId === +globalUserStateService.currentUser()?.id!
              ) {
                <div class="card message align-self-end flex-grow-0">
                  <span>{{ message.message }}</span>
                  <!-- <span className="message-footer">30.03.2024</span> -->
                </div>
              } @else {
                <div class="card message self align-self-start flex-grow-0">
                  <span>{{ message.message }}</span>
                  <!-- <span className="message-footer">30.03.2024</span> -->
                </div>
              }
            }
          }
        </div>
        <div class="card-footer">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Unesi poruku..."
              [(ngModel)]="messageText"
            />
            <div class="input-group-append">
              <button
                class="btn btn-primary"
                type="button"
                [disabled]="currentChatUser == null"
                (click)="sendMessage()"
              >
                Pošalji
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
